.footer{
    width: 100%;
    padding-top: 80px;
    background-color: #000000;
}



.topFooter{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.topFooter>div{
    height: 200px;
}
.topFooter>div>svg{
    margin-bottom: 20px;
}
.topFooter>div>div{
    margin-top: 24px;
}
.topFooter>div h4{
    font-weight: 500;
    font-size: 20px;
}
.topFooter>div>div p{
    margin-top: 16px;
    font-size: 16px;

}
.footerInput{
    margin-top: 15px;
    display: flex;
    input{
        width: calc(100% - 55px);
        height: 48px;
        outline: none;
        border: 1px solid #fff;
        border-right: none;
        background-color: #000;
        border-radius: 4px 0 0 4px;
        padding-left: 15px;
        font-size: 16px;
        color: #fff;
    }
    input::placeholder{
        font-size: 16px;
    }
    div{
        width: 55px;
        height: 48px;
        border: 1px solid #fff;
        border-left: none;
        background-color: #000;
        border-radius: 0 4px 4px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
}



.save3Dollar{
    margin-top: 20px;
    a{
        font-size: 12px;
        font-weight: 400;
        color: #afafaf;
    }
}
.qrBlock{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.qr{
    background: url('../../assets/Qrcode\ 1.png') no-repeat;
    background-size: cover;
    width: 85px;
    height: 85px;
}
.getApp div{
    width: 104px;
    height: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    img{
        width: 100%;
    }
}
.messengers{
    margin-top: 24px;
    svg{
        margin-right: 24px;
    }
}



.copyright{
    margin-top: 60px;
    height: 64px;
    width: 100%;
    border-top: 1px solid #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e1f20;
    svg{
        margin-right: 5px;
    }
    path{
        stroke: #3d3d3d;
    }
}